application/restaurant-service-api/src/main/resources/integration_wsdl.wsdl

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS 
	RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS 
	RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://integration.restaurant.schonherz.hu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://integration.restaurant.schonherz.hu/"
	name="AdminRemoteRefreshServicePlainImpService">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://integration.restaurant.schonherz.hu/"
				schemaLocation="http://192.168.1.105:7001/AdminRemoteRefreshServicePlainImp/AdminRemoteRefreshServicePlainImpService?xsd=1" />
		</xsd:schema>
	</types>
	<message name="deleteDelivery">
		<part name="parameters" element="tns:deleteDelivery" />
	</message>
	<message name="deleteDeliveryResponse">
		<part name="parameters" element="tns:deleteDeliveryResponse" />
	</message>
	<message name="palceNewDelivery">
		<part name="parameters" element="tns:palceNewDelivery" />
	</message>
	<message name="palceNewDeliveryResponse">
		<part name="parameters" element="tns:palceNewDeliveryResponse" />
	</message>
	<message name="refreshUsers">
		<part name="parameters" element="tns:refreshUsers" />
	</message>
	<message name="refreshUsersResponse">
		<part name="parameters" element="tns:refreshUsersResponse" />
	</message>
	<message name="refreshDeliveries">
		<part name="parameters" element="tns:refreshDeliveries" />
	</message>
	<message name="refreshDeliveriesResponse">
		<part name="parameters" element="tns:refreshDeliveriesResponse" />
	</message>
	<message name="refreshUsersSince">
		<part name="parameters" element="tns:refreshUsersSince" />
	</message>
	<message name="refreshUsersSinceResponse">
		<part name="parameters" element="tns:refreshUsersSinceResponse" />
	</message>
	<message name="refreshDeliveriesSince">
		<part name="parameters" element="tns:refreshDeliveriesSince" />
	</message>
	<message name="refreshDeliveriesSinceResponse">
		<part name="parameters" element="tns:refreshDeliveriesSinceResponse" />
	</message>
	<portType name="AdminRemoteRefreshService">
		<operation name="deleteDelivery">
			<input
				wsam:Action="http://integration.restaurant.schonherz.hu/AdminRemoteRefreshService/deleteDeliveryRequest"
				message="tns:deleteDelivery" />
			<output
				wsam:Action="http://integration.restaurant.schonherz.hu/AdminRemoteRefreshService/deleteDeliveryResponse"
				message="tns:deleteDeliveryResponse" />
		</operation>
		<operation name="palceNewDelivery">
			<input
				wsam:Action="http://integration.restaurant.schonherz.hu/AdminRemoteRefreshService/palceNewDeliveryRequest"
				message="tns:palceNewDelivery" />
			<output
				wsam:Action="http://integration.restaurant.schonherz.hu/AdminRemoteRefreshService/palceNewDeliveryResponse"
				message="tns:palceNewDeliveryResponse" />
		</operation>
		<operation name="refreshUsers">
			<input
				wsam:Action="http://integration.restaurant.schonherz.hu/AdminRemoteRefreshService/refreshUsersRequest"
				message="tns:refreshUsers" />
			<output
				wsam:Action="http://integration.restaurant.schonherz.hu/AdminRemoteRefreshService/refreshUsersResponse"
				message="tns:refreshUsersResponse" />
		</operation>
		<operation name="refreshDeliveries">
			<input
				wsam:Action="http://integration.restaurant.schonherz.hu/AdminRemoteRefreshService/refreshDeliveriesRequest"
				message="tns:refreshDeliveries" />
			<output
				wsam:Action="http://integration.restaurant.schonherz.hu/AdminRemoteRefreshService/refreshDeliveriesResponse"
				message="tns:refreshDeliveriesResponse" />
		</operation>
		<operation name="refreshUsersSince">
			<input
				wsam:Action="http://integration.restaurant.schonherz.hu/AdminRemoteRefreshService/refreshUsersSinceRequest"
				message="tns:refreshUsersSince" />
			<output
				wsam:Action="http://integration.restaurant.schonherz.hu/AdminRemoteRefreshService/refreshUsersSinceResponse"
				message="tns:refreshUsersSinceResponse" />
		</operation>
		<operation name="refreshDeliveriesSince">
			<input
				wsam:Action="http://integration.restaurant.schonherz.hu/AdminRemoteRefreshService/refreshDeliveriesSinceRequest"
				message="tns:refreshDeliveriesSince" />
			<output
				wsam:Action="http://integration.restaurant.schonherz.hu/AdminRemoteRefreshService/refreshDeliveriesSinceResponse"
				message="tns:refreshDeliveriesSinceResponse" />
		</operation>
	</portType>
	<binding name="AdminRemoteRefreshServicePlainImpPortBinding"
		type="tns:AdminRemoteRefreshService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="deleteDelivery">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="palceNewDelivery">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="refreshUsers">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="refreshDeliveries">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="refreshUsersSince">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="refreshDeliveriesSince">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="AdminRemoteRefreshServicePlainImpService">
		<port name="AdminRemoteRefreshServicePlainImpPort" binding="tns:AdminRemoteRefreshServicePlainImpPortBinding">
			<soap:address
				location="http://192.168.1.105:7001/AdminRemoteRefreshServicePlainImp/AdminRemoteRefreshServicePlainImpService" />
		</port>
	</service>
</definitions>