application/restaurant-service-api/src/main/resources/wsdl_xsd.xsd

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS 
	RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:ns0="http://integration.restaurant.schonherz.hu/"
	targetNamespace="http://integration.restaurant.schonherz.hu/">
	<xsd:complexType name="restaurantVo">
		<xsd:complexContent>
			<xsd:extension base="ns0:baseVo">
				<xsd:sequence>
					<xsd:element name="address" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="banned" type="xsd:boolean"
						minOccurs="0" />
					<xsd:element name="name" type="xsd:string" minOccurs="0" />
					<xsd:element name="products" type="ns0:productVo"
						minOccurs="0" maxOccurs="unbounded" nillable="true" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="refreshDeliveriesSinceResponse">
		<xsd:sequence>
			<xsd:element name="refreshDeliveriesSinceResult" type="ns0:deliveryVo"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="refreshUsersSinceResponse">
		<xsd:sequence>
			<xsd:element name="refreshUsersSinceResult" type="ns0:userVo"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="productVo">
		<xsd:complexContent>
			<xsd:extension base="ns0:baseVo">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string" minOccurs="0" />
					<xsd:element name="price" type="xsd:int" minOccurs="0" />
					<xsd:element name="restaurant" type="ns0:restaurantVo"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="deleteDelivery">
		<xsd:sequence>
			<xsd:element name="delivery" type="ns0:deliveryVo"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="refreshUsersSince">
		<xsd:sequence>
			<xsd:element name="date" type="xsd:dateTime" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="orderVo">
		<xsd:complexContent>
			<xsd:extension base="ns0:baseVo">
				<xsd:sequence>
					<xsd:element name="address" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="deadline" type="xsd:dateTime"
						minOccurs="0" />
					<xsd:element name="orderState" type="ns0:orderState"
						minOccurs="0" />
					<xsd:element name="payType" type="ns0:payType"
						minOccurs="0" />
					<xsd:element name="products" type="ns0:productVo"
						minOccurs="0" maxOccurs="unbounded" nillable="true" />
					<xsd:element name="totalPrice" type="xsd:int"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="deleteDeliveryResponse">
		<xsd:sequence>
			<xsd:element name="deleteDeliveryErrorCode" type="xsd:long"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="baseVo" abstract="true">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long" minOccurs="0" />
			<xsd:element name="modDate" type="xsd:dateTime"
				minOccurs="0" />
			<xsd:element name="modUser" type="xsd:string" minOccurs="0" />
			<xsd:element name="recDate" type="xsd:dateTime"
				minOccurs="0" />
			<xsd:element name="recUser" type="xsd:string" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="userVo">
		<xsd:complexContent>
			<xsd:extension base="ns0:baseVo">
				<xsd:sequence>
					<xsd:element name="banned" type="xsd:boolean"
						minOccurs="0" />
					<xsd:element name="name" type="xsd:string" minOccurs="0" />
					<xsd:element name="password" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="phoneNumber" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="restaurant" type="ns0:restaurantVo"
						minOccurs="0" />
					<xsd:element name="roles" type="ns0:roleVo" minOccurs="0"
						maxOccurs="unbounded" nillable="true" />
					<xsd:element name="username" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="refreshDeliveriesResponse">
		<xsd:sequence>
			<xsd:element name="refreshDeliveriesResult" type="ns0:deliveryVo"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="deliveryVo">
		<xsd:complexContent>
			<xsd:extension base="ns0:baseVo">
				<xsd:sequence>
					<xsd:element name="courier" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="deliveryDate" type="xsd:dateTime"
						minOccurs="0" />
					<xsd:element name="deliveryState" type="ns0:deliveryState"
						minOccurs="0" />
					<xsd:element name="guid" type="xsd:string" minOccurs="0" />
					<xsd:element name="orders" type="ns0:orderVo"
						minOccurs="0" maxOccurs="unbounded" nillable="true" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="palceNewDeliveryResponse">
		<xsd:sequence>
			<xsd:element name="placeNewDeliveryErrorCode" type="xsd:long"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="refreshDeliveries" />
	<xsd:complexType name="refreshDeliveriesSince">
		<xsd:sequence>
			<xsd:element name="arg0" type="xsd:dateTime" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="roleVo">
		<xsd:complexContent>
			<xsd:extension base="ns0:baseVo">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="palceNewDelivery">
		<xsd:sequence>
			<xsd:element name="delivery" type="ns0:deliveryVo"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="refreshUsers" />
	<xsd:complexType name="refreshUsersResponse">
		<xsd:sequence>
			<xsd:element name="refreshUsersResult" type="ns0:userVo"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="refreshDeliveriesResponse" type="ns0:refreshDeliveriesResponse" />
	<xsd:element name="refreshDeliveriesSinceResponse" type="ns0:refreshDeliveriesSinceResponse" />
	<xsd:element name="palceNewDeliveryResponse" type="ns0:palceNewDeliveryResponse" />
	<xsd:element name="refreshUsersSinceResponse" type="ns0:refreshUsersSinceResponse" />
	<xsd:element name="refreshDeliveries" type="ns0:refreshDeliveries" />
	<xsd:element name="refreshDeliveriesSince" type="ns0:refreshDeliveriesSince" />
	<xsd:element name="deleteDelivery" type="ns0:deleteDelivery" />
	<xsd:element name="palceNewDelivery" type="ns0:palceNewDelivery" />
	<xsd:element name="refreshUsersSince" type="ns0:refreshUsersSince" />
	<xsd:element name="refreshUsers" type="ns0:refreshUsers" />
	<xsd:element name="refreshUsersResponse" type="ns0:refreshUsersResponse" />
	<xsd:element name="deleteDeliveryResponse" type="ns0:deleteDeliveryResponse" />
	<xsd:simpleType name="payType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="MONEY" />
			<xsd:enumeration value="CREDITCARD" />
			<xsd:enumeration value="NICECARD" />
			<xsd:enumeration value="VOUCHER" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="deliveryState">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="FREE" />
			<xsd:enumeration value="RESERVED" />
			<xsd:enumeration value="RECEIVED" />
			<xsd:enumeration value="DELIVERED" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="orderState">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="DELIVERED" />
			<xsd:enumeration value="FAILED" />
			<xsd:enumeration value="IN_PROGRESS" />
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>